<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head th:replace="fragments/main.html :: head">
</head>
<body class="container">
   <div th:replace="~{fragments/main :: nav}"></div>

   <h3><a th:href="@{/goods/orders}">Перейти моим к заказам</a></h3>
   <h1>Товары</h1>
   <div class="album py-5 bg-light">
       <div class="container">
           <div class="row row-cols-1 row-cols-md-3 g-4">
               <div th:each="good: ${goods}" class="col">
                   <div class="card">
                       <p th:text="'Товар: ' + ${good.name}" class="card-header"></p>
                       <div class="card-body">
                           <p th:text="'Цена: ' + ${good.price} +'$'" class="card-text"></p>
                           <p th:text="'Количество: ' + ${good.count} " class="card-text"></p>

                           <div d-flex justify-content-between align-items-center>
                               <div class="btn-group">
                                   <form method="get" th:action="@{/goods/edit/{id}(id = ${good.goodId})}">
                                       <input type="submit" value="Редактировать" class="btn btn-sm btn-outline-secondary">
                                   </form>

                                   <form method="post" th:action="@{/goods/delete/{id}(id = ${good.goodId})}">
                                       <input type="submit" value="Удалить" class="btn btn-sm btn-outline-secondary">
                                   </form>

                                   <form method="post" th:action="@{/goods/order/{id}(id = ${good.goodId})}">
                                       <input type="submit" value="Добавить к заказу">
                                   </form>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <div th:if = "${currentOrder}!=null">
       <h3>Заказанные товары: </h3>
       <div th:each="good : ${currentOrder.goods}">
           <p th:text="'Товар' +  ${good.name}"></p>
       </div>
       <input type="submit" value="Ok">
   </div>
   <div th:replace="~{fragments/main :: footer}"></div>
   <div th:replace="~{fragments/main :: boot-script}"></div>
</body>
</html>