<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head th:replace="~{fragments/main :: head}"> </head>
<body class="container">
<nav th:replace="~{fragments/main :: nav}"></nav>


<div th:if = "${currentOrder}!=null" >
    <div th:if = "${currentOrder.goods}!=null" class="card">
        <h2 class="card-header">Текущий заказ: </h2>
        <div class="card-body">
            <form th:action="@{/orders}" method="post" th:object="${currentOrder}">
                <div th:each="good : ${currentOrder.goods}" class="card">
                    <div class="card-body">
                        <p class="">
                            <span>Товар: </span>
                            <b th:text="${good.name}"></b>
                        </p>
                        <p>
                            <span>Цена: </span>
                            <span th:text="${good.price} + '$'"></span>
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <b>Итоговая цена: </b>
                    <span th:text="${currentOrder.totalPrice()}+'$'"></span>
                </div>
                <input type="submit"  value="Подтвердить заказ" class="btn btn-outline-primary">
            </form>
        </div>
    </div>
</div>


<h3>Мои заказы: </h3>
<div th:if = "${userOrders} !=null" class="accordion"  id="accordionExample">
    <div th:each="order: ${userOrders}" class="accordion-item"
         th:classappend=
                  "${(order.getStatusString() == 'WAITING' ? ' border-warning': '')+
                   (order.getStatusString() == 'PROCESSING' ? 'border-info':'')+
                   (order.getStatusString() == 'CANCELED' ?  'border-danger':'')+
                   (order.getStatusString() == 'DONE' ?'border-success':'')}">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    th:attr="data-bs-target = ${'#collapse'+ order.orderId}, aria-controls = ${'collapse'+ order.orderId}"
                    aria-expanded="false"
                    th:text="'Заказ на дату: ' + ${#temporals.format(order.orderDate, 'dd-MM-yyyy HH:mm')}">
                Элемент аккордеона #1
            </button>
        </h2>
        <div th:attr="id = ${'collapse'+ order.orderId}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                   Статус заказа:
                    <span th:text = " ${(order.getStatusString() == 'WAITING' ? ' ожидает обработки': '')+
                   (order.getStatusString() == 'PROCESSING' ? 'обрабатывается':'')+
                   (order.getStatusString() == 'CANCELED' ?  'отменен':'')+
                   (order.getStatusString() == 'DONE' ?'выполнен':'')}">

                    </span>
                </p>
                <p>Заказанные товары: </p>
                <div th:each="good : ${order.goods}" class="card">
                    <div class="card-body">
                        <p class="">
                            <span>Товар: </span>
                            <b th:text="${good.name}"></b>
                        </p>
                        <p>
                            <span>Цена: </span>
                            <span th:text="${good.price} + '$'"></span>
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <b>Итоговая цена: </b>
                    <span th:text="${order.totalPrice()}+'$'"></span>
                </div>

                <form method="post" th:action="@{/orders/done/{id}(id = ${order.orderId})}" th:if="${order.getStatusString() == 'PROCESSING'}">
                    <button type="submit" class="btn btn-outline-success">Подтвердить выполнение</button>
                </form>

                <form method="post" th:action="@{/orders/cancel/{id}(id = ${order.orderId})}"
                      th:unless="${order.getStatusString() == 'CANCELED' or order.getStatusString() == 'DONE'}" style="margin-top: 10px">
                    <button type="submit" class="btn btn-outline-danger">Отменить заказ</button>
                </form>

                <form method="post" th:action="@{/orders/pdf/{id}(id = ${order.orderId})}" style="margin-top: 10px">
                    <button type="submit" class="btn btn-outline-primary">Сохранить чек в PDF</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/main :: footer}"></div>
<div th:replace="~{fragments/main :: boot-script}"></div>
</body>
</html>