<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html>
<html  xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <style type='text/css'>
        * { font-family: 'Arial Unicode MS'; }

        td{
            padding-right: 50px;
        }
    </style>
</head>
<body>

    <h3>Чек заказа #<span th:text="${currentOrder.orderId}"></span></h3>
    <p th:text="'Дата заказа: ' + ${#temporals.format(currentOrder.orderDate, 'dd-MM-yyyy HH:mm')}"></p>
    <table>
        <thead>
            <tr>
                <td>Наименование товара</td>
                <td>Цена</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="good : ${currentOrder.goods}">
                <td th:text="${good.name}"></td>
                <td th:text="${good.price}+'$'"></td>
            </tr>
        </tbody>
    </table>
    <p>
        <b>Итоговая цена: </b>
        <span th:text="${currentOrder.totalPrice()}+'$'"></span>
    </p>
</body>
</html>